.catalog {
    padding-bottom: 4rem;
    min-height: 95%;
    .catalog__card-container {
        display: grid;
        margin: 1rem 0;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        grid-template-rows: repeat(auto-fit, 350px);
        grid-auto-rows: 350px;
        justify-content: center;
    }
    .catalog__title {
        font-size: $size-lg;
        text-align: center;
    }
    .backToTop {
        position: fixed;
        bottom: 50px;
        right: 10px;
        background-color: $color-main-hover;
        border-radius: 6px;
        cursor: pointer;
        padding: 0.25rem;
    }
}