.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 95%;
    padding: 1rem;
    font-size: $size-sm;
    .home__description {
        max-width: 400px;
    }
    .home__catalog {
        background-color: $color-main;
        border-radius: 8px;
        color: white;
        padding: 0.5rem 1rem;
        transition: all 0.3s;
        &:hover {
            background-color: $color-main-hover;
        }
    }
}


// /* xs */
// @media (min-width: 475px) {}

// /* sm */
@media (min-width: 640px) {
    .home {
        font-size: $size-base;
    }
}

// /* lg */
// @media (min-width: 768px) {}

// /* xl */
// @media (min-width: 1024px) {}

// /* 2xl */
// @media (min-width: 1280px) {}

// /* 3xl */
// @media (min-width: 1536px) {}