.card {
    height: 100%;
    margin: 0 0.5rem;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }    
    .card__image-container {
        height: 350px;
        width: 100%;
        img {
            border-radius: 6px;
            height: 350px;
            width: 100%;
        }
    }
}