.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    // width: 100%;
    .footer__copyright {
        font-size: $size-xs;
    }
    .footer__socialMedia {
        display: flex;
        gap: 0.5rem;
        .footer__icon {
            color: white;
        }
    }
}